#log li:nth-last-child(1) span:first-of-type {
  font-family: "ipag", "Arial Narrow", monospace;
  font-weight: 500;
  transform: scale(1, 1.25);
}

#log,
#now {
  color: #000;
  font-family: "Arial Narrow", "Yu Gothic", "游ゴシック体", Arial, sans-serif;
  font-size: 100%;
}

button,
select,
code {
  appearance: none;
  color: inherit;
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  outline: none;
}

#log li a {
  color: inherit;
}

#log li b {
  font-size: 150%;
}

#ip,
#os,
code {
  word-break: break-all;
}

hr {
  border: none;
  margin: 1rem;
}

#log {
  align-items: stretch;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: flex-start;
  list-style: none;
  position: relative;
  padding: 0.5rem 0.5rem 5rem;
  margin: 0;
  width: 100%;
  z-index: 5;
}

#log li {
  font-size: 75%;
  flex: 1 250px;
  gap: 0.25rem;
  padding: 0.25rem;
  word-wrap: break-word;
  transition: all 1000ms ease;
}

#log li span {
  display: block;
  padding: 0.25rem;
  margin: 0;
  word-wrap: break-word;
}

#log li span:first-of-type {
  float: left;
  text-transform: uppercase;
  text-decoration: underline;
}

#log li span:nth-of-type(2),
#log li span:nth-of-type(3) {
  float: right;
}

#log li span:last-of-type {
  clear: both;
  width: 100%;
}

#log li:nth-last-child(1) {
  font-size: 100%;
  flex: 2 500px;
  padding: 0.25rem;
}

#now {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}
