#now {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}

#now select,
#now button {
  appearance : none;
  background: transparent;
  border: 0.1rem solid;
  border-radius: 3rem;
  color: #000;
  font-size: 125%;
  outline: none;
  padding: 0.5rem 0.75rem;
  margin: 1rem;
}

#now select:hover,
#now button:hover,
#update:hover {
  cursor: pointer;
}

#now select:focus,
#now select:focus,
#update:focus {
  filter: drop-shadow(0 0 0.1rem);
}

#now select:active,
#now select:active,
#update:active {
  filter: invert(1);
}

@media screen and (max-width: 750px) {
  #now select,
  #now button {
    border: 0.2vw solid;
    border-radius: 4.5vw;
    font-size: 3vw;
    padding: 1.25vw 2vw;
    margin: 2.5%;
  }
}
