#now {
  color: #000;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}

#now select,
#now button {
  border: 0.1rem solid;
  border-radius: 3rem;
  font-size: 125%;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem;
}

#now select:hover,
#now button:hover,
#update:hover {
  cursor: pointer;
}

#now select:focus,
#now select:focus,
#update:focus {
  filter: drop-shadow(0 0 0.1rem);
}

#now select:active,
#now select:active,
#update:active {
  filter: invert(1);
}