#menu,
#hello,
#yourinfo,
#now,
.noprint {
  display: none;
}

#you,
#www {
  color: #fff;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  user-select: none;
}

#you div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#you div p {
  font-size: 100%;
  padding: 1rem;
  margin: 0;
}

#you img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 7.5rem;
}

#www {
  top: 100vh;
  color: #000;
  background: #fff;
  display: grid;
  place-items: center;
}

#www h2,
#www small {
  display: block;
  padding: 0;
  margin: 0;
}

#www h2 {
  max-width: 75%;
  line-height: 150%;
}

#www small {
  max-width: 90%;
}

#www h2 {
  font-size: 150%;
  font-weight: 500;
}

#www h2 strong {
  font-size: 125%;
}

#www small {
  font-size: 75%;
}
