body,
h1 {
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  margin: 1rem;
}

#log button,
#modal,
#modal button,
#modal select {
  font-family: "Arial Narrow", "Yu Gothic", "游ゴシック体", Arial, sans-serif;
}

#now,
#log li span {
  padding: 0.25rem;
}

#now select {
  margin: 0.25rem;
}

#log,
#modal {
  position: fixed;
  margin: 0;
}

#log,
#battery span:last-of-type {
  display: flex;
}

#log {
  align-items: stretch;
  flex-flow: row-reverse wrap-reverse;
  justify-content: start;
  list-style: none;
  overflow: auto;
  z-index: 2;
}

#battery span:last-of-type {
  flex-flow: row;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0;
}

#log li:last-of-type,
#log button,
#modal button,
#modal select,
#now select {
  font-size: 100%;
}

h2,
#level,
#modal font {
  font-size: 125%;
}

#modal small {
  font-weight: 500;
}

#log li:last-of-type {
  flex: 2 500px;
}

form select,
#log button,
#modal button,
#modal select,
#now select {
  appearance : none;
  outline: none;
  border: solid 2px;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  pointer-events: auto;
  user-select: auto;
  cursor: pointer;
}

#modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 95%;
  height: 95%;
  max-width: 750px;
}

#closeButton {
  float: right;
}

meter {
  width: 2.5rem;
  height: 1.25rem;
}

meter::-webkit-meter-horizontal-bar {
  border: none;
}

meter::-webkit-meter-horizontal-optimum-value {
  background: blue;
}

meter::-webkit-meter-horizontal-suboptimal-value {
  background: yellow;
}

meter::-webkit-meter-horizontal-even-less-good-value {
  background: red;
}
