body {
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  margin: 1rem;
}

#ip,
#os,
#info span {
  word-break: break-all;
}

#log button,
#log code {
  font-family: "Arial Narrow", "Yu Gothic", "游ゴシック体", Arial, sans-serif;
}

.color {
  color: #000;
}

.bgcolor {
  background: #fff;
}

#js-button,
#contents a,
#log,
#modal {
  filter: invert();
}

#menu,
#log,
#modal {
  mix-blend-mode: difference;
}

#now {
  padding: 0.25rem;
}

#now select {
  margin: 0.25rem;
}

#battery span:last-of-type {
  display: flex;
}

#battery span:last-of-type {
  flex-flow: row;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin: 0;
}

#log {
  padding: 0.25rem;
}

#log li:last-of-type,
#log button,
#now select {
  font-size: 100%;
}

h2,
#level {
  font-size: 125%;
}

#log li:last-of-type,
#log #info {
  flex: 2 500px;
}

form select,
#log button,
#now select {
  appearance : none;
  outline: none;
  border: solid 2px;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  pointer-events: auto;
  user-select: auto;
  cursor: pointer;
}

meter {
  width: 2.5rem;
  height: 1.25rem;
}

meter::-webkit-meter-horizontal-bar {
  border: none;
}

meter::-webkit-meter-horizontal-optimum-value {
  background: blue;
}

meter::-webkit-meter-horizontal-suboptimal-value {
  background: yellow;
}

meter::-webkit-meter-horizontal-even-less-good-value {
  background: red;
}

@media (orientation: portrait) {
  #log {
    margin-bottom: 0.5rem;
  }

  #now {
    position: relative;
  }
}

@media print{
  #menu,
  #now {
    display: none;
  }
}
