body {
  background: #000;
}

#menu,
#log {
  filter: invert();
  mix-blend-mode: difference;
}

h2,
#level {
  font-size: 125%;
}

#log li:last-of-type {
  font-size: 100%;
}

#log li b,
#log li code {
  font-family: "ipag", "Arial Narrow", monospace;
}

#log li:last-of-type,
#log #info {
  flex: 2 500px;
}

#log button {
  appearance: none;
  outline: none;
  border: solid 2px;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  pointer-events: auto;
  user-select: auto;
  cursor: pointer;
}

#battery span:last-of-type {
  display: flex;
}

#battery span:last-of-type {
  flex-flow: row;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin: 0;
}

meter {
  width: 2.5rem;
  height: 1.25rem;
}

meter::-webkit-meter-horizontal-bar {
  border: none;
}

meter::-webkit-meter-horizontal-optimum-value {
  background: blue;
}

meter::-webkit-meter-horizontal-suboptimal-value {
  background: yellow;
}

meter::-webkit-meter-horizontal-even-less-good-value {
  background: red;
}

@media print {
  #menu {
    display: none;
  }
}