html {
  font-size: 16px;
}

hr {
  border: none;
}

#hello #readme .hide {
  display: none;
}

#hello a {
  display: inline-block;
  text-decoration: none;
}

#hello #readme u {
  cursor: help;
}

#hello h1,
#hello #readme b {
  font-style: normal;
  font-weight: 400;
}

main,
main * {
  box-sizing: border-box;
}

main {
  position: relative;
  pointer-events: none;
  user-select: none;
  width: 100%;
  z-index: 10;
}

#hello a,
#hello #readme u {
  color: #000;
  background: transparent;
  pointer-events: auto;
  user-select: text;
  transition: 1s;
}

#hello,
#hello a {
  font-family: "Yu Gothic", "游ゴシック体", sans-serif;
}

#hello u,
#hello #readme i {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 110%;
}

#hello small {
  font-size: 75%;
  display: inline-block;
  margin: 1rem 0 0;
}

#hello {
  padding: 0.75rem 1rem 5rem;
}

#hello #readme {
  padding: 0 1.5rem 1rem;
  font-size: 200%;
}

#hello p {
  font-size: 125%;
  line-height: 150%;
}

#hello a {
  border: 0.1rem solid;
  border-radius: 3rem;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
}
