#log li,
#log li:nth-last-child(1) {
  flex: 1 100%;
  padding: 0.45vw;
}

#log li span {
  margin: 0.45vw;
}

#update {
  border: 0.25vw solid;
  border-radius: 5vw;
  padding: 1.25vw 2vw;
}

input[type="radio"]+label {
  margin: 0 0.5vw 0.5vw 0;
}