body {
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

#log li:nth-last-child(1) span:first-of-type {
  font-family: "ipag", "Yu Gothic", "游ゴシック体", monospace;
  transform: scale(1, 1.25);
}

#log,
#update,
#now select,
#now button {
  font-family: "Arial Narrow", "Yu Gothic", "游ゴシック体", Arial, sans-serif;
}

#log li span {
  color: #000;
}

#log li span,
#now {
  pointer-events: none;
  user-select: none;
}

#log li:nth-last-child(1) span,
#log li:nth-last-child(2) span {
  pointer-events: auto;
  user-select: text;
}

#now {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}

#update {
  appearance : none;
  background: transparent;
  border: 0.1rem solid;
  border-radius: 2.5rem;
  color: #000;
  font-size: 125%;
  padding: 0.321rem 0.75rem;
  outline: none;
  transition: 1s;
}

#update:hover {
  cursor: pointer;
}

#update:focus {
  filter: drop-shadow(0 0 0.1rem);
}

#update:active {
  filter: invert(1);
}

#log,
#userMedia {
  padding: 0;
  margin: 0;
}

#log {
  font-size: 1rem;
  align-items: stretch;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: flex-start;
  list-style: none;
  position: relative;
  width: 100%;
  z-index: 5;
}

#log li {
  font-size: 75%;
  flex: 1 250px;
  box-sizing: border-box;
  padding: 0.25rem;
  word-wrap: break-word;
  transition: all 1000ms ease;
}

#log li b {
  font-size: 150%;
}

#log li span {
  display: block;
  margin: 0.25rem;
  word-wrap: break-word;
}

#log li span:first-of-type {
  float: left;
  text-transform: uppercase;
  text-decoration: underline;
}

#log li span:nth-of-type(2),
#log li span:nth-of-type(3) {
  float: right;
}

#log li span:last-of-type {
  clear: both;
  width: 100%;
}

#log li:nth-last-child(1) {
  font-size: 100%;
  flex: 2 500px;
  padding: 0.25rem;
}

#userMedia,
#now {
  position: fixed;
}

#userMedia {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#userMedia {
  background-color: #000;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#now {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

#now time {
  font-family: "ipag", "Arial Narrow", monospace;
  font-size: 150%;
  font-weight: 500;
  transform: scale(1, 1.25);
  padding: 1rem;
  margin: 0;
}

@media screen and (max-width: 750px) {
  #now time {
    font-size: 4.5vw;
    padding: 2.5%;
  }
}
