#now p {
  padding: 0;
  margin: 0;
}

input[type="radio"],
.hidden {
  display: none;
}

#now h1,
#log li a,
#log li span:first-of-type {
  font-family: "ipag", "Yu Gothic", monospace;
  font-weight: 500;
  transform: scale(1, 1.25);
}

input[type="radio"]+label {
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 125%;
  padding: 0.25rem;
  margin: 0.25rem;
  transition: all 1s;
}

#log li a,
input[type="radio"]+label {
  background-color: #fff;
  color: #000;
}

#log li a:hover,
input[type="radio"]:checked+label {
  background-color: #000;
  color: #fff;
}

#now,
#log {
  font-size: 100%;
  display: flex;
  flex-flow: wrap row;
}

#now {
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vw;
}

#now {
  padding: 0.75rem;
}

#now h1 {
  box-sizing: border-box;
  font-size: 321%;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}

#now h1::before {
  content: "This Website created on 16 SEP 2021";
  display: block;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 25%;
  line-height: 250%
}

#log {
  align-items: stretch;
  justify-content: flex-start;
  list-style: none;
  overflow: auto;
  padding: 0.5rem;
  margin: 0;
}

#log li {
  flex: 1 300px;
  gap: 0.25rem;
  padding: 0.25rem;
}

#log li span {
  display: block;
  margin: 0.25rem;
  word-wrap: break-word;
}

#log li span:first-of-type {
  float: left;
  font-size: 111%;
}

#log li span:nth-of-type(2),
#log li span:nth-of-type(3) {
  float: right;
  font-size: 75%;
  text-transform: uppercase;
}

#log li span:last-of-type {
  clear: both;
  font-size: 95%;
  width: 100%;
  max-width: 100%;
}

@media (orientation: portrait) {
  #now h1 {
    font-size: 275%;
  }

  #log li {
    flex: 1 100%;
    gap: 0;
    padding: 0.25rem;
    margin: 0.25rem;
  }

  #log li span:first-of-type {
    width: auto;
    max-width: auto;
  }
}

@media print {
  #menu {
    display: none;
  }

  #now {
    max-height: 100vh;
  }

  #log li {
    page-break-inside: avoid;
  }
}
