body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

input[type="radio"],
.hidden {
  display: none;
}

#log li a,
#log li span:first-of-type {
  font-family: "ipag", "Yu Gothic", "游ゴシック体", monospace;
  transform: scale(1, 1.25);
}

#log {
  font-family: "Arial Narrow", "Yu Gothic", "游ゴシック体", Arial, sans-serif;
}

#log li a,
input[type="radio"]+label {
  color: #000;
}

input[type="radio"]+label {
  cursor: pointer;
  font-size: 125%;
  padding: 0.25rem;
  margin: 0.5rem 0.25rem 0.25rem 0.5rem;
  transition: all 1s;
}

input[type="radio"]:checked+label {
  background-color: #000;
  color: #fff;
}

#log {
  font-size: 1rem;
  align-items: stretch;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: flex-start;
  list-style: none;
  position: relative;
  overflow: auto;
  padding: 0;
  margin: 0.5rem 0 0;
  width: 100%;
  z-index: 5;
}

#log li {
  box-sizing: border-box;
  padding: 0.5rem;
  word-wrap: break-word;
  width: 100%;
  transition: all 1000ms ease;
}

#log li span {
  display: block;
  margin: 0.25rem;
  word-wrap: break-word;
}

#log li span:first-of-type {
  float: left;
  font-size: 111%;
  width: 40%;
  max-width: 400px;
  text-decoration: underline;
}

#log li span:nth-of-type(2),
#log li span:nth-of-type(3) {
  float: right;
  font-size: 75%;
  text-transform: uppercase;
}

#log li span:last-of-type {
  float: left;
  font-size: 95%;
}

@media (max-width: 750px) {
  #log li span:first-of-type {
    width: auto;
    max-width: auto;
  }

  #log li span:last-of-type {
    clear: both;
    width: 100%;
    max-width: 100%;
  }
}

#now {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap row;
}
