@page {
  size: A5 landscape;
  margin: 0;
}

#menu button,
#hello,
#yourinfo,
#modal,
#now,
.hue,
.saturation,
.lightness {
  display: none;
}

#sketch,
#www {
  position: absolute;
}

#sketch,
#www {
  top: 0;
  left: 0;
  right: 0;
}

body,
#www {
  width: 100%;
  height: 200vh;
  max-height: 200vh;
}

#www {
  display: grid;
  z-index: 100;
  pointer-events: none;
  user-select: none;
}

#www section,
#www aside {
  width: 100%;
  height: 100vh;
}

#www section {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

#www aside {
  background-color: #fff;
  display: grid;
  place-items: center;
}

#www section p {
  font-size: 75%;
  padding: 1rem;
  margin: 0;
}

#www h2,
#www small {
  display: block;
  padding: 0;
  margin: 0;
}

#www h2 {
  font-family: "Arial Narrow", "Yu Gothic", "游ゴシック体", Arial, sans-serif;
  font-size: 125%;
  font-weight: 500;
  max-width: 75%;
  line-height: 150%;
}

#www h2 i {
  font-family: "Times New Roman", serif;
  font-size: 111%;
}

#www small {
  font-size: 45%;
  max-width: 90%;
}

#you {
  background-image: url(../../ver/qr.png);
  background-size: 15%;
  background-position: center;
  background-repeat: no-repeat;
}

#you p {
  color: #000;
}