@font-face {
  font-family: "ipag";
  src: url("https://creative-community.space/profile/ipag.ttc");
}

#modal {
  border: 0.1rem solid #000;
  box-sizing: border-box;
  margin: 2.5vh auto;
  max-width: 95%;
  max-height: 95%;
  overflow: auto;
}

#modal h1 {
  margin: 0 0 1rem;
}

#modal h1,
#modal p,
button {
  font-weight: 500;
}

#mainBtn,
.backBtn {
  position: fixed;
  top: 0;
}

#mainBtn {
  left: 0;
}

.backBtn {
  right: 0;
}

#mainBtn,
.backBtn {
  z-index: 100;
}

button,
input[type="button"] {
  appearance : none;
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  outline: none;
}

button,
input[type="button"] {
  font-size: 200%;
  margin: 0.5rem;
  pointer-events: auto;
  user-select: text;
  transition: 1s;
}

button {
  padding: 0.5rem;
}

input[type="button"] {
  border-radius: 50%;
  padding: 0.5rem 1.3rem;
}

@media screen and (max-width: 550px) {
  #modal {
    font-size: 3.33vw;
    border: 0.5vw solid;
  }

  button,
  input[type="button"] {
    font-size: 7.5vw;
    margin: 1.25vw;
  }

  input[type="button"] {
    padding: 0.5vw 3.5vw;
  }
}
