body {
  background: #000;
}

h2,
#ko li button {
  zoom: 0.75;
}

#hello,
#log button,
#log h1,
#log h2,
#log ul li button,
#log .controls {
  filter: invert();
  mix-blend-mode: difference;
}

h2,
#ko li button {
  zoom: 0.75;
}

#hello #readme {
  margin: 0;
}

#hello #readme strong {
  font-size: 150%;
  font-weight: 500;
}

#log h2 {
  width: 75%;
  max-width: 550px;
}

#log h2 {
  font-size: 100%;
  line-height: 150%;
}

#log button {
  content: attr(data-name);
  font-family: "Yu Gothic", "游ゴシック体", Arial, sans-serif;
}

#log button::before {
  content: attr(data-name);
}

#log section ul {
  font-size: 90%;
}

#log section ul li {
  flex: 15%;
}

@media screen and (max-width: 1025px) {
  #log section ul {
    font-size: 75%;
  }

  #log section ul li {
    flex: 1 auto;
  }
}

@media screen and (max-width: 750px) {
  body {
    font-size: 2.5vw;
  }

  #hello #readme {
    margin: 0;
  }

  #log ul li button {
    border: 0.25vw solid;
    border-radius: 4.5vw;
    font-size: 3vw;
    padding: 1.25vw 2vw;
    margin: 0.5vw 1vw 0.5vw 0;
  }
}

@page {
  size: A5;
}

@page :first {
  margin-left: 1rem;
}

@media print {
  body {
    background: #fff;
  }

  main,
  #log section,
  #log section ul,
  #log section ul li {
    break-before: page;
    break-after: page;
  }

  #log section {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  #log div {
    break-after: page;
  }

  #log h2 {
    font-size: 111%;
  }

  #log section ul li {
    font-size: 0.90rem;
    padding: 1.5rem 1.5rem 1.5rem 0.5rem;
    height: 200vh;
  }

  #log ul li p::after {
    content: attr(data-description);
    font-size: 90%;
    margin: 1rem 0 0;
  }

  #log ul li button::after {
    content: attr(data-note);
    font-size: 75%;
    margin: 1rem 0;
  }

  #hello::before {
    white-space: pre-wrap;
    content: "cite from \A http://koyomi8.com/24doc.html \A https://www.i-nekko.jp/meguritokoyomi/nijyushisekki/";
    color: #fff;
    font-size: 75%;
    font-family: "ipag", monospace;
    transform: scale(1, 1.25);
    margin-left: 1.25rem;
    height: 100vh;
  }

  #hello #readme {
    font-size: 3.33vw;
    padding: 0 3.33vw 0 0;
  }

  #hello #readme::after {
    content: "creative-community.space/hello/";
    display: block;
    font-family: "ipag", monospace;
    font-size: 75%;
    font-weight: 500;
    transform: scale(1, 1.25);
    margin: 7.5vw 0 0;
  }

  #hello #readme,
  #hello #readme p {
    color: #fff;
    filter: invert(0);
    mix-blend-mode: difference;
  }
}
