@page {
  size: A5 portrait;
}

@media print {
  html {
    color: #000;
    background: #fff;
  }

  #menu,
  #menu button,
  #login-btn,
  #now,
  #modal,
  .noprint {
    display: none;
  }

  #hello,
  #log ul li p::after,
  #log ul li button::after {
    display: block;
  }

  #log div {
    position: relative;
    height: 100vh;
  }

  #log div {
    mix-blend-mode: normal;
  }

  body {
    font-size: 3vw;
  }

  #log h2 {
    font-size: 111%;
  }

  #log ul li {
    break-inside: avoid;
    font-size: 90%;
    padding: 1.5rem 1.5rem 1.5rem 0.5rem;
    height: 100vh;
  }

  #log ul li p::after,
  #log ul li button::after {
    width: 100%;
    margin: 1rem 0;
  }

  #log ul li p::after {
    content: attr(data-description);
    font-size: 111%;
  }

  #log ul li button {
    border: none;
    border-radius: 0;
    font-size: 125%;
    padding: 0;
    text-align: left;
  }

  #log ul li button::after {
    content: attr(data-note);
    font-size: 75%;
    margin: 1rem 0;
  }

  #hello #readme {
    font-size: 3.33vw;
    padding: 0 3.33vw 0 0;
  }

  #readme::after {
    display: block;
    content: "cite from \A http://koyomi8.com/24doc.html \A https://www.i-nekko.jp/meguritokoyomi/nijyushisekki/";
    font-size: 75%;
    font-family: "ipag", monospace;
    transform: scale(1, 1.25);
    margin-top: 2ewm;
    width: 100%;
    white-space: pre-wrap;
  }
}
