input,
select,
button,
textarea {
    appearance: none;
    color: inherit;
    background: transparent;
    outline: none;
}

select,
label {
    font-family: "ipag", "Arial Narrow", Arial, monospace;
}

button,
input {
    font-family: "Arial Narrow", "ipag", Arial, sans-serif;
}

input[type="submit"],
select,
button {
    cursor: pointer;
    word-break: break-all;
}

#hello a,
button,
select,
input {
    border: 0.1rem solid;
    border-radius: 3rem;
}

select,
input[type="button"] {
    font-size: 100%;
    padding: 0.321rem 0.55rem;
    max-width: 100%;
}

#hello a,
button {
    font-size: 125%;
    padding: 0.5rem 0.75rem;
}

#login button {
    font-size: 150%;
    padding: 0.5rem 0.75rem;
}

.range {
    display: flex;
    flex-flow: wrap;
}

.range {
    margin: 0.5rem 0;
    align-items: center;
    justify-content: space-between;
}

.range input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    border: solid 0.1rem;
    border-radius: 2rem;
    outline: none;
    padding: 0 0.25rem;
    width: 100%;
    height: 2rem;
}

.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background: transparent;
    border: solid 0.1rem;
    border-radius: 50%;
    cursor: pointer;
}