body {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}

#sketch,
#userMedia {
    mix-blend-mode: difference;
}

#hello a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

#hello u {
    cursor: help;
}

#hello small,
#yourinfo span {
    display: block;
}

#hello,
#hello nav,
#now {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}

#hello nav {
    width: 100%;
}

#hello {
    vertical-align: top;
    justify-content: center;
}

#now {
    justify-content: space-between;
}

#hello nav {
    place-self: start;
}

#hello[hidden],
#hello .hide {
    display: none;
}

main,
main article,
#hello nav,
#login,
#now {
    padding: 0.5rem;
}

#hello h2 a {
    margin: 0.25rem;
}

#hello small,
#yourinfo span {
    margin: 1rem 0;
}

#hello article {
    max-width: 95%;
    padding-bottom: 2.5rem;
}

#hello input,
#hello select,
#hello a,
#hello u,
#hello button {
    pointer-events: auto;
    user-select: auto;
}

#now,
#userMedia {
    pointer-events: none;
    user-select: none;
}

main,
#now,
#sketch {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}

#sketch {
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}

main {
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

#whois {
    height: 100vw;
    max-height: 75vh;
}

#whois .data {
    top: 92.5%;
}

#now {
    bottom: 0;
    z-index: 10;
}

/* フォントの指定 */
article {
    font-family: Arial, Helvetica, sans-serif;
}

#hello u,
#hello i {
    font-family: "Times New Roman", serif;
    font-style: italic;
}

code,
#hello small {
    font-family: "ipag", "Arial Narrow", monospace;
}

#hello h1,
#hello h2 {
    font-size: 250%;
}

@media (orientation: portrait) {

    #hello h1,
    #hello h2 {
        font-size: 150%;
    }
}

#yourinfo h3 {
    font-size: 125%;
}

#hello u,
#hello i,
#yourinfo p {
    font-size: 111%;
}

#hello strong {
    font-size: 100%;
}

#hello small {
    font-size: 55%;
}

#hello h1,
#hello h2,
#hello b,
#hello strong {
    font-weight: 400;
}

#hello h1,
#hello h2,
#hello small {
    line-height: 150%;
}

#hello button {
    text-align: left;
}