html {
  font-size: 16px;
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

body,
#menu,
#menu button,
#contents {
  padding: 0;
  margin: 0;
}

body {
  min-height: -webkit-fill-available;
}

@font-face {
  font-family: "ipag";
  src: url("../font/ipag.ttc");
}

@font-face {
  font-family: "Times New Roman";
  src: url("../font/times.ttf");
}

.cc,
#menu button b::before,
#contents p,
#contents b {
  display: inline-block;
  font-family: "ipag", monospace;
  font-weight: 500;
  transform: scale(1, 1.25);
}

#contents i {
  font-family: "Times New Roman", serif;
  font-size: 90%;
}

#contents u {
  font-family: "Arial Narrow", "Yu Gothic", "游ゴシック体", Arial, sans-serif;
  font-size: 75%;
}

#menu button {
  appearance: none;
  background-color: transparent;
  color: inherit;
  outline: none;
}

#menu button:hover {
  cursor: pointer;
}

main {
  transition: 1s;
  opacity: 1;
}

.open main {
  opacity: 0;
}

.open {
  overflow: hidden;
}

#menu,
#menu button {
  position: fixed;
}

#menu {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 0;
  transition: ease 2.5s;
}

#menu,
#menu button {
  display: grid;
  place-items: center;
}

#menu[hidden] {
  display: none;
}

#menu.active {
  height: 100%;
}

#menu button {
  border-radius: 50%;
  z-index: 1000;
}

#menu button {
  border: solid 0.2rem;
  font-size: 1.75rem;
  right: 1rem;
  top: 1rem;
  width: 3.33rem;
  height: 3.33rem;
}

#menu button b::before {
  content: 'CC';
  line-height: 175%;
}

.open #menu button b::before {
  content: '×';
  transform: scale(1, 1);
}

#contents,
#contents a {
  display: flex;
  align-items: start;
}

#contents {
  flex-flow: column;
  overflow: hidden;
  transition: ease 0.5s;
  width: 90%;
  max-width: 350px;
  max-height: 90%;
}

@media (orientation: portrait) {
  html {
    font-size: 3.5vw;
  }

  #contents {
    width: 90%;
    max-width: 90%;
  }
}

#contents a {
  border: solid 1px;
  border-collapse: collapse;
  color: inherit;
  font-size: 90%;
  flex-flow: wrap;
  justify-content: space-between;
  text-decoration: none;
}


#contents a,
#contents i,
#contents p {
  width: 100%;
}

#contents p,
#contents i {
  padding: 1rem 1rem 0.5rem;
  margin: 0;
}

#contents b {
  padding: 0;
  margin: 0.5rem 1rem 1rem;
}

#contents u {
  border: 1px solid;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.25rem 0;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 1rem 0.75rem;
  text-decoration: none;
}

.active #contents {
  overflow: auto;
}
