@font-face {
  font-family: "ipag";
  src: url("https://creative-community.space/ver/font/ipag.ttc");
}

html {
  height: -webkit-fill-available;
}

h1,
main,
pre {
  font-family: "ipag", monospace;
}

article {
  font-family: "Yu Gothic", "游ゴシック体", sans-serif;
}

article u,
article i {
  font-family: "Times New Roman", serif;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
main,
article {
  margin: 0;
}

main h1 small,
article h2,
article b,
article strong {
  font-weight: 500;
}

main h1 small {
  text-decoration: underline;
}

small {
  font-size: 75%;
}

main a small {
  font-size: 100%;
}

main h1 b {
  display: inline-block;
  line-height: 111%;
  transform: scale(1, 1.25);
}

article mark,
article u,
article i {
  font-size: 111%;
}

main h1,
main a b,
article h2,
article strong {
  font-size: 150%;
}

main a {
  color: #000;
  pointer-events: auto;
  user-select: auto;
}

main a:hover,
article time {
  color: #fff;
  background: #000;
}

main a {
  box-sizing: border-box;
  text-decoration: none;
}

main a,
main a small,
main a b {
  display: block;
  width: 100%;
}

pre {
  overflow: hidden;
  white-space: pre-wrap;
}

hr {
  border: none;
}

@media (orientation: landscape) {
  body {
    display: flex;
    font-size: 16px;
    width: 100%;
    height: 100vw;
    max-height: -webkit-fill-available;
  }

  hr {
    margin: 1.5rem;
  }

  button {
    padding: 0.5rem 1rem;
    border: 2px solid #000;
  }

  input[type="button"] {
    padding: 0 0.75rem;
  }

  main,
  article {
    height: 100%;
    overflow: auto;
  }

  main {
    width: 40%;
    max-width: 500px;
  }

  article {
    width: calc(100% - 500px);
    min-width: 60%;
  }

  main h1 b {
    margin: 1rem 0 0;
  }

  main h1,
  main a {
    padding: 1rem;
  }

  article,
  article section {
    padding: 0.5rem;
  }

  article time {
    padding: 0.25rem;
  }
}


@media (orientation: portrait) {
  body {
    font-size: 3.21vw;
  }

  button {
    padding: 1.25vw 2.5vw;
    border: 0.5vw solid #000;
  }

  input[type="button"] {
    padding: 0 1.5vw;
  }

  hr {
    margin: 4.5vw;
  }

  main nav {
    height: 50vw;
    overflow: auto;
  }

  main h1 b {
    margin: 2.5vw 0 0;
  }

  main h1,
  main a,
  article section {
    padding: 2.5vw;
  }

  article {
    padding: 1vw;
  }

  article time {
    padding: 0.5vw;
  }
}

button,
input[type="button"],
textarea,
summary {
  appearance: none;
  box-sizing: border-box;
  color: #000;
  outline: none;
}

button,
input[type="button"],
summary {
  cursor: pointer;
  word-break: keep-all;
}

button {
  background: #fff;
  border-radius: 50%;
  font-size: 150%;
}

input[type="button"] {
  background: transparent;
  border: none;
  margin: 0;
}
