h2,
#ko li button {
  zoom: 0.75;
}

#hello #readme {
  margin: 0;
}

@media screen and (max-width: 750px) {
  #hello #readme {
    margin: 0;
  }
}

@media print {
  #log div,
  #log hr {
    display: none;
  }

  main,
  #log section {
    break-after: page;
  }

  #log section {
    box-sizing: border-box;
    break-before: page;
    padding: 0;
    margin: 0;
  }

  #hello #readme p,
  #hello input[type="button"] {
    font-size: 90%;
  }

  #hello #readme p,
  #hello input[type="button"] {
    padding: 0;
    margin: 0;
  }

  #hello input[type="button"] {
    border: none;
    cursor: none;
    text-decoration: underline;
  }

  #log .collection::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
  }

  #log ul li button {
    font-size: 75%;
    text-decoration: underline;
  }

  #log ul li button::after {
    content: attr(data-hello);
    font-size: 125%;
    text-decoration: none;
    margin: 1rem 0;
  }
}
