#hello #readme {
  margin: 0;
}

@media screen and (max-width: 750px) {
  #hello #readme {
    margin: 0;
  }
}

@page {
  size: A5;
}

@page :first {
  margin-left: 1cm;
}

@page :right {
  margin-right: 0cm;
}

@page :left {
  margin-left: 0cm;
}

@media print {
  #log section {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  #log section ul li {
    break-inside: avoid;
  }

  #hello #readme p {
    font-size: 90%;
  }

  #hello input[type="button"],
  #log ul li button {
    font-size: 75%;
  }

  #hello #readme p,
  #hello input[type="button"] {
    padding: 0;
    margin: 0;
  }

  #hello input[type="button"] {
    border-radius: 0;
    border: none;
    cursor: none;
    text-decoration: underline;
  }

  #log .collection::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
  }

  #log .collection ul li {
    font-size: 90%;
    padding: 1rem 1.5rem;
  }

  #log ul li button::after {
    content: attr(data-hello);
    font-size: 125%;
    margin: 1rem 0;
  }
}
