h2,
#ko li button {
  zoom: 0.75;
}

#hello #readme {
  margin: 0;
}

@media screen and (max-width: 750px) {
  #hello #readme {
    margin: 0;
  }
}

@media print {
  #log div,
  #log hr {
    display: none;
  }

  main {
    box-sizing: border-box;
    break-after: page;
  }

  #hello #readme p,
  #hello input[type="button"] {
    font-size: 100%;
  }

  #hello #readme p,
  #hello input[type="button"] {
    padding: 0;
    margin: 0;
  }

  #hello input[type="button"] {
    border: none;
    cursor: none;
    text-decoration: underline;
  }

  #log ul li button {
    font-size: 75%;
  }

  #log ul li button::after {
    content: attr(data-hello);
    font-size: 150%;
    margin: 1rem 0;
  }
}
