body,
ul#color {
  padding: 0;
  margin: 0;
}

ul#color {
  list-style: none;
  list-style-position: inside;
}

ul#color li {
  float: left;
  width: calc(100%/5);
  height: 20vw;
}

ul#color p {
  box-sizing: border-box;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 1.25vw;
  padding: 1.25vw;
  position: relative;
  margin: 0;
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  z-index: 1;
}

ul#color p button {
  appearance : none;
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  font-size: 90%;
}

@media screen and (max-width: 1000px) {
  ul#color li {
    width: calc(100%/4);
    height: 25vw;
  }

  ul#color p {
    font-size: 1.5vw;
    padding: 1.5vw;
  }
}

@media screen and (max-width: 750px) {
  ul#color li {
    width: calc(100%/3);
    height: 33vw;
  }

  ul#color p {
    font-size: 2vw;
    padding: 2vw;
  }
}

@media screen and (max-width: 550px) {
  ul#color li {
    width: calc(100%/2);
    height: 50vw;
  }

  ul#color p {
    font-size: 3vw;
    padding: 3vw;
  }
}
