html {
  height: -webkit-fill-available;
}

@font-face {
  font-family: "ipag";
  src: url("https://creative-community.space/ver/font/ipag.ttc");
}

code,
ul#color,
dialog#modal h1 {
  font-family: "ipag", "Arial Narrow", monospace;
}

dialog#modal p {
  font-family: "Yu Gothic", "游ゴシック体", Arial, sans-serif;
}

body,
ul#color,
dialog#modal,
dialog#modal h1 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul#color p,
dialog#modal p,
dialog#modal code,
dialog#modal button {
  color: #fff;
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

ul#color p button,
dialog#modal h1,
dialog#modal a {
  background: #fff;
  color: #000;
  padding: 0.25rem;
  margin: 0;
}

button {
  appearance: none;
  border: none;
  display: inline-block;
  outline: none;
}

ul#color {
  list-style: none;
  list-style-position: inside;
}

ul#color li,
#backBtn {
  display: grid;
  place-items: center;
  float: left;
  width: calc(100%/5);
  height: 20vw;
}

#backBtn,
ul#color p {
  box-sizing: border-box;
  font-size: 1.25vw;
  padding: 1.25vw;
  margin: 0;
}

ul#color p button {
  font-size: 95%;
  padding: 0.25vw;
  margin: 0;
}

dialog#modal {
  border: none;
  outline: none;
  font-size: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
}

dialog#modal h1 {
  display: inline-block;
  font-size: 175%;
  mix-blend-mode: difference;
}

dialog#modal rt {
  text-transform: uppercase;
  text-align: left;
  padding: 0.125rem;
  font-size: 55%;
}

dialog#modal b {
  text-align: left;
}

dialog#modal p {
  clear: both;
  padding: 0.25rem;
}

dialog#modal code {
  float: right;
  margin: 0.25rem;
  vertical-align: top;
}

#backBtn,
dialog#modal button {
  background: transparent;
}

dialog#modal button,
#backBtn b {
  font-size: 500%;
  padding: 0.5rem 0.25rem;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  #backBtn,
  ul#color li {
    width: calc(100%/4);
    height: 25vw;
  }

  #backBtn,
  ul#color p {
    font-size: 1.5vw;
    padding: 1.5vw;
  }
}

@media screen and (max-width: 750px) {
  #backBtn,
  ul#color li {
    width: calc(100%/3);
    height: 33vw;
  }

  #backBtn,
  ul#color p {
    font-size: 2vw;
    padding: 2vw;
  }

  dialog#modal {
    font-size: 3vw;
  }
}

@media screen and (max-width: 550px) {
  #backBtn,
  ul#color li {
    width: calc(100%/2);
    height: 50vw;
  }

  #backBtn,
  ul#color p {
    font-size: 3vw;
    padding: 3vw;
  }

  dialog#modal {
    font-size: 3.5vw;
  }
}

@media print {
  dialog#modal {
    position: relative;
    display: block;
    top:0;
    left:0;
    max-width: 100%;
    max-height: 100vh;
    transform: translate(0, 0);
  }

  ul#color li {
    break-after: page;
    display: block;
    width: 100%;
    height: 100vh;
  }

  ul#color li::after {
    white-space: pre-wrap;
    content: attr(data-note)'\A\A'attr(data-description);
    display: block;
    font-size: 90%;
    padding: 1rem 0.5rem;
    position: relative;
    filter: invert();
    mix-blend-mode: difference;
  }

  ul#color p {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
  }
}
