hr {
  padding: 1vw 0 0;
  margin: 0;
}

#hello {
  font-size: 2vw;
  padding: 2.5% 2.5% 15%;
}

#hello #readme {
  margin: 0 2.5%;
}

#hello small {
  margin: 5vw 0 0;
}

#hello a {
  border: 0.25vw solid;
  border-radius: 4.5vw;
  padding: 1.25vw 2vw;
  margin: 0.5vw 1vw 0.5vw 0;
}

#hello input[type="button"],
#hello select,
#openModal,
#backBtn,
.controls input[type="button"] {
  border: 0.25vw solid;
  border-radius: 4.5vw;
  font-size: 3vw;
  padding: 1.25vw 2vw;
  margin: 0.5vw 1vw 0.5vw 0;
}

.controls input[type="button"] {
  width: 10vw;
  height: 7.5vw;
}

#hello input[type="submit"],
#hello button,
#enter-btn,
#back-btn {
  border: 0.25vw solid;
  border-radius: 5vw;
  font-size: 4vw;
  padding: 2vw 2.5vw;
}

#hello .submit {
  margin: 1.25% 0.5%;
}

input[type="button"]:focus,
input[type="submit"]:focus,
select:focus,
button:focus {
  filter: drop-shadow(0 0 0.25vw);
}

#hello .submit,
.range {
  padding: 0 2.5vw;
}

.range,
#next {
  margin: 2.5vw 0;
}

.range input[type="range"] {
  border: 0.25vw solid;
  border-radius: 5vw;
  padding: 0 0.5vw;
  height: 7.5vw;
}

.range input[type="range"]::-webkit-slider-thumb {
  border: 0.25vw solid;
  height: 5.5vw;
  width: 5.5vw;
}

#hello label,
.range label {
  font-size: 3vw;
}

.range code {
  font-size: 4.5vw;
}
