#log h1,
#log h2,
#log ul li button {
  filter: invert(0);
  mix-blend-mode: difference;
}

#menu,
#enter-btn,
#now,
#collection,
.controls,
.noprint {
  display: none;
}

#log div {
  position: relative;
  top: 0;
}

main,
#log section ul,
#log section ul li,
#log ul li p::after,
#log ul li button::after,
#hello::before {
  display: block;
}

#log section ul,
#log ul li p {
  padding: 0;
}

#log section ul li {
  box-sizing: border-box;
}

#log button,
#log ul li button {
  border: none;
  padding: 0;
  margin: 1rem 0;
  text-align: left;
  cursor: none;
}
