#menu,
#hello p,
#hello input,
#enter-btn,
.controls {
  display: none;
}

#log div {
  position: relative;
  top: 0;
}

main {
  display: block;
}

main {
  break-before: page;
}

#log div,
#log hr,
#log ul li {
  break-after: page;
}

#log button,
#log ul li button {
  border: none;
  padding: 0;
  margin: 1rem 0;
  text-align: left;
  cursor: none;
  pointer-events: none;
}

#log section ul li {
  padding: 0.5rem;
  font-size: 1.25rem;
  flex: 100%;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
}

#log ul li p {
  padding: 0;
  margin: 0;
}

#log ul li p::after {
  content: attr(data-description);
  display: block;
  font-size: 95%;
  margin: 1rem 0 0;
}

#log ul li button::after {
  content: attr(data-note);
  display: block;
  font-size: 75%;
  margin: 1rem 0;
}
