@media print {
  #log ul li {
    break-before: page;
  }

  #readme strong {
    font-size: 170%;
  }

  #log ul li p::after {
    content: attr(data-description);
    font-size: 111%;
  }

  #log h2 {
    width: 85%;
  }

  #log h2,
  #readme {
    font-size: 90%;
  }

  #log ul li button::after {
    content: attr(data-note);
    font-size: 75%;
    margin: 1rem 0;
  }

  #readme::after {
    display: block;
    content: "cite from \A http://koyomi8.com/24doc.html \A https://www.i-nekko.jp/meguritokoyomi/nijyushisekki/";
    font-size: 75%;
    font-family: "ipag", monospace;
    transform: scale(1, 1.25);
    margin-top: 1rem;
    width: 100%;
    white-space: pre-wrap;
  }
}