@media print {
  #log ul li,
  #hello {
    break-before: page;
  }

  #readme strong {
    font-size: 175%;
  }

  #readme::after {
    display: block;
    content: "cite from \A http://koyomi8.com/24doc.html \A https://www.i-nekko.jp/meguritokoyomi/nijyushisekki/";
    font-size: 75%;
    font-family: "ipag", monospace;
    transform: scale(1, 1.25);
    margin-top: 2ewm;
    width: 100%;
    white-space: pre-wrap;
  }
}